<h1><%= @restaurant.name %></h1>
<p>Find us at <%= @restaurant.address %></p>
<p>We serve <%= @restaurant.cuisine %> food</p>

<%= link_to "Edit", edit_restaurant_path(@restaurant.id) %>
<%= link_to "Go back to all restaurants", restaurants_path %>
